<!DOCTYPE html>
<html>
	<head>
		<title>HeatUp - SignIn</title>
	<head>
	
	<body bgcolor="yellow">
		<h1 style="text-align:center; font-size:60px; color:red"><a href="home">HeatUp</a></h1>
		<h1 style="text-align:center; color:indigo">SignIn</h1>
		<div align="center">
			<form>
				<label>Username<input type="text" name="username" /></label><br/>
				<label>Password <input type="password" name="password" /></label><br/>
				<input type="submit" name="signin" value="SignIn"/>
			</form>
		</div>
	</body>
</html>