<!DOCTYPE html>
<html>
	<head>
		<title>HeatUp - SignUp</title>
	<head>
	
	<body bgcolor="yellow">
		<h1 style="text-align:center; font-size:60px; color:red"><a href="home">HeatUp</a></h1>
		<form>
			<table align="center" border="2">
				<caption style="color:indigo">SignUp</caption>
				<tr>
					<td align="left">Name</td>
					<td><input type="text" name="name" /></td>
				</tr>
				<tr>
					<td align="left">Enter Your Password</td>
					<td><input type="password" name="password" /></td>
				</tr>
				<tr>
					<td align="left">Repeat Your Password</td>
					<td><input type="password" name="password" /></td>
				</tr>
				<tr >
					<td colspan="2" align="center"><label ><input type="checkbox" name="accounttype" value="singer" />Are you a singer?</label></td>
				</tr>
				<tr >
					<td colspan="2" style="text-align:center"><input type="submit" name="signup" value="SignUp"/></td>
				</tr>
				
			</table>
		</form>
	</body>
</html>